.leaflet-dhis2 {

  .marker-cluster {
    background-color: rgba(255, 255, 255, 0.6);
    background-clip: padding-box;
    border-radius: 20px;

    div {
      background-color: rgba(255, 255, 255, 0.8);
      width: 30px;
      height: 30px;
      margin-left: 5px;
      margin-top: 5px;
      text-align: center;
      border-radius: 15px;
      font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
    }

    span {
      line-height: 30px;
    }
  }

  .leaflet-cluster-icon {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.65);
    //background-color: rgba(33, 33, 33, 0.8);
    //border: 5px solid rgba(33, 33, 33, 0.6);
    color: #fff;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    background-clip: padding-box;

    span {
      align-self: center;
    }
  }



  .marker-cluster-small {
    background-color: rgba(181, 226, 140, 0.6);
  }
  .marker-cluster-small div {
    background-color: rgba(110, 204, 57, 0.6);
  }

  .marker-cluster-medium {
    background-color: rgba(241, 211, 87, 0.6);
  }
  .marker-cluster-medium div {
    background-color: rgba(240, 194, 12, 0.6);
  }

  .marker-cluster-large {
    background-color: rgba(253, 156, 115, 0.6);
  }
  .marker-cluster-large div {
    background-color: rgba(241, 128, 23, 0.6);
  }




}