.leaflet-dhis2 {
  .leaflet-control-fit-bounds {
    width: 26px;
    height: 26px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    cursor: pointer;
    background: #fff url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfgAggKLBE78gQnAAABzUlEQVQ4y5XUMYwNURTG8d/MvLfPypKVbMH2W2ATllBIRKXYQqMQkdArZFeolAqFqGSJXoSChFJQSBQo1AqJjoJCSHb3vXlvjmLuzry3Fbebe853v3P+597hP1eGXc7pqUBu3TN/ZAjzzshSZscPT43gvDAUQhgJyyh0cF0oU6QSlmrtRWFDqdQXHiTfDNNeCZtKpYFwvBWUyWUtpW6V2/EyRSrhGHmTMFJhJ/K0k2FKD1XqMGsd+kIYCI+TJMes98m9Mqwd4JIQ7rojrCdJ0aRvCte8EG0PZ1Or3EuSJ036hrCKGW+ExVow7ZSeTAdrKemR1+n0FUxhj5MNjlR1pkgug6bqVXRJPTWraEB2k6RvIFxJp9exoj6ZTNaALO22P+1xCMMmlo17bAdZqZQTkMfS97llngmQl90eg9zBYTftqAUXhI9mzfgwBnIS8kHfhKPtpMM7b9PEV9BVJMibwnOfRTvp+mpUCeTVBmSB+wnyaPvVGBrpCzcmQHbxUOgbqeqrkSMQch0smzMYg3zACXTSTrQOZfPePplrJrvoe9qNcYefaYDkKkuOIJfjtL2GqYpM6Vf9JHILYz+BDV+2rHUtKNJX4bev7VP85/UXRifcfFu+w10AAAAldEVYdGRhdGU6Y3JlYXRlADIwMTYtMDItMDhUMTA6NDQ6MTctMDU6MDDDmINAAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE2LTAyLTA4VDEwOjQ0OjE3LTA1OjAwssU7/AAAAABJRU5ErkJggg==') no-repeat center center;
  }

}