.leaflet-dhis2 {
  .leaflet-tooltip {
    border-radius: 0;
    padding: 0 6px;
    font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
  }
  .leaflet-tooltip-left {
    margin-left: -8px;
  }
  .leaflet-tooltip-right {
    margin-left: 13px;
  }
  .leaflet-tooltip-left:before {
    border-left-color: transparent;
  }
  .leaflet-tooltip-right:before {
    border-right-color: transparent;
  }
}
