.leaflet-dhis2 {

    background: #fff;

    .leaflet-bar {
        border-radius: 0;

        a:first-child, a:last-child {
            border-radius: 0;
        }
    }

    &.leaflet-touch {

        .leaflet-bar {
            border: 0;
            box-shadow: 0 1px 5px rgba(0,0,0,.65);

            a {
                width: 26px;
                height: 26px;
                line-height: 26px;
                font-size: 20px;
            }
        }

    }

    .leaflet-control-attribution {
        font-size: 9px;
        a {
            color: #333;
        }
    }

    .leaflet-control-layers {
        border-radius: 0;
    }

    .leaflet-control-scale-line {
        padding: 2px 2px 1px;
    }

}

.leaflet-dhis2.leaflet-google {
    .leaflet-control-scale-line {
        margin-left: 76px;
        margin-bottom: -17px;
    }
}