.leaflet-dhis2 {
    .leaflet-control-measure {
        border-radius: 0;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);

        .leaflet-control-measure-toggle {
            width: 26px;
            height: 26px;
        }

        a {
            font-size: 12px !important;
        }
    }
}
