// Place search control
.leaflet-dhis2 {
    &.leaflet-touch {
        .leaflet-control-geocoder {
            border: 0;
            min-width: 26px;
            min-height: 26px;
            box-shadow: 0 1px 5px rgba(0,0,0,0.65);
        }

        .leaflet-control-geocoder-icon {
            width: 26px;
            height: 26px;
        }

        .leaflet-control-geocoder-alternatives li a {
            font-size: 14px;
        }
    }
}