.dhis2-map-split-view {
    .leaflet-control-zoom {
        position: absolute;
        top: 10px;
        right: 10px;
        border-radius: 0;
    }
    .leaflet-control-fit-bounds {
        position: absolute;
        top: 72px;
        right: 10px;
        border-radius: 0;
    }
    .leaflet-control-geocoder {
        position: absolute;
        top: 108px;
        right: 10px;
        border-radius: 0;
        font-size: 14px;
    }
    .leaflet-control-attribution {
        position: absolute;
        right: 2px;
        bottom: 1px;
        padding: 2px;
        color: #333;
        background: rgba(255, 255, 255, 0.7);
        font-size: 9px;
        a: {
            color: #333;
            text-decoration: none;
        }
    }
}
